<h1 align="center"><%= @user.username.capitalize %>'s characters</h1>
<hr/>

<% @user_characters.each do |character| %>
  <div class="row pb-2 ">
    <div class="col-md-2 offset-1  card-img-top card card-body bg-light mx-auto" align="center">
        <% if character.image.attached? %>
          <%= image_tag(character.image, size: '120x120') %>
        <% else %>
          <small>No image</small>
        <% end %>
    </div>
    <div class="col-md-8 card card-body bg-light pr-2 colsize ml-2 mx-auto">
      <h4 class="center"><%= link_to character.name, character%></h4>
      <p><%= truncate(character.description, length: 290) %></p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-3 mx-auto">
    <p> <%= paginate @user_characters, theme: 'twitter-bootstrap-4' %> </p>
  </div>
</div>
