<h1 align="center"><%= @character.name.capitalize %></h1>
<hr />
<div class="row">
  <div class="col-md-2">
    <section class="center card card-body bg-light">
        Character Image
    </section>
  </div>
  <div class="col-md-8 card card-body bg-light">
    <p>Listing character attributes</p>
    <hr />
    <p>
      <small>Created by: <%= @character.user.email %>, <%= time_ago_in_words(@character.created_at) %> ago</small>
    </p>
    <div>
      <tr>
        <td><%= link_to 'Edit', edit_character_path(@character), class: "btn btn-warning" %></td>
        <td><%= link_to 'Back', characters_path, class: "btn btn-primary" %></td>
        <td><%= link_to "Delete this character", character_path(@character), method: :delete,
                                          data: { confirm: "Are you sure you want to delete?" },
                                          class: "btn btn-xs btn-danger" %></td>
      </tr>
    </div>
  </div>
</div>
