<h1 align="center"><%= @character.name %></h1>
<hr />
<div class="row ">
  <div class="col-md-2 offset-1 mx-auto center">
    <% if @character.image.attached? %>
      <%= image_tag(@character.image, class: "img-thumbnail", style:"height: 162px;")%>
    <% else %>
      <%= image_tag('/assets/noimg.jpeg', class:"img-thumbnail w-100", style:"height: 162px;") %>
    <% end %>
  </div>

  <div class="col-md-8 card card-body bg-light mx-auto" >
    <div class="row justify-content-between"">
      <div class="col-md-4">
        Listing character attributes:
      </div>
      <%= render 'vote' %>
    </div>

    <div class="row  pt-2 " id="abilities">
      <%= render partial: 'abilities/ability', object: @ability%>
    </div>

    <hr/>
    <div id="new-ability" class="pt-2 pb-2">
      <%if current_user && current_user == @character.user %>
        <%= link_to 'New Ability', new_character_ability_path(@character), remote: true, class:"btn btn-primary" %>
      <%end%>
    </div>
    <hr />
    <p>
      <small>Created by: <%= @character.user.username.capitalize %>, <%= time_ago_in_words(@character.created_at) %> ago</small>
    </p>

    <div>
      <tr>
        <td><%= link_to 'Back', characters_path, class: "btn btn-primary" %></td>
        <%if current_user && current_user == @character.user %>
          <td><%= link_to 'Edit Character', edit_character_path(@character), class: "btn btn-warning" %></td>
          <td><%= link_to "Delete Character", character_path(@character), method: :delete,
                                            data: { confirm: "Are you sure you want to delete?" },
                                            class: "btn btn-xs btn-danger" %>
          </td>
        <%end%>
      </tr>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12 card card-body bg-light mx-auto mt-3">
      <% if @character.description %>
        <p class="biography-title"><%= @character.name %>'s Biography</p>
        <p><%= @character.description %></p>
      <%end%>
    <div/>
</div>
<hr/>
<div class="row">
  <div id="new-comment" class="col-md-4">
    <% if user_signed_in? %>
      <%= link_to 'New Comment', new_character_comment_path(@character), remote: true, class:"btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-8 " id="comments">
    <h3>Comments:</h3>
    <%= render partial: 'comments/comment', object: @comment %>
  </div>
</div>
