<h1 align="center"><%= @character.name %></h1>
<hr />
<div class="row ">
  <div class="col-md-2 offset-1 card-img-top card card-body bg-light mx-auto colsize" align="center">
    <% if @character.image.attached? %>
      <%= image_tag(@character.image, size: '120x120') %>
    <% else %>
      <small>No image</small>
    <% end %>
  </div>

  <div class="col-md-8 card card-body bg-light mx-auto" >
    <p>Listing character attributes:</p>
    <div class="row justify-content-start">
      <% @character.abilities.each do |ability| %>
        <div class="col-md-3  ">
          <div class="card" style="width: 132px;">
            <% if ability.picture.attached? %>
              <%= image_tag(ability.picture, size: '130x130') %>
            <% else %>
              <small>No image</small>
            <% end %>

              <p class="mx-auto"><%= ability.name %>: <%= ability.value %></p>

          </div>
        </div>
      <% end %>
      <div id="new-ability">
        <%= link_to 'New Ability', new_ability_path(@character), remote: true %>
      </div>

    </div>

    <hr />
    <p>
      <small>Created by: <%= @character.user.username.capitalize %>, <%= time_ago_in_words(@character.created_at) %> ago</small>
    </p>
    <div>
      <tr>
        <td><%= link_to 'Back', characters_path, class: "btn btn-primary" %></td>
        <%if current_user && current_user == @character.user %>
          <td><%= link_to 'Edit', edit_character_path(@character), class: "btn btn-warning" %></td>
          <td><%= link_to "Delete this character", character_path(@character), method: :delete,
                                            data: { confirm: "Are you sure you want to delete?" },
                                            class: "btn btn-xs btn-danger" %>
          </td>
        <%end%>
      </tr>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-11 card card-body bg-light mx-auto mt-3">
      <% if @character.description %>
        <p class="biography-title"><%=@character.name.capitalize%>'s Biography</p>
        <p><%=@character.description%></p>
      <%end%>
    <div/>
</div>
