<%= form_with(model: [@character, @ability]) do |form| %>
  <div class="row">
    <% if @ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ability.errors.count, "error") %> prohibited this ability from being saved:</h2>
      <ul>
        <% @ability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :value %>
        <%= form.text_field :value %>
      </div>

      <div class="field">
        <%= form.label :picture %>
        <%= form.file_field :picture %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
