<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "RPG Editor", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "All Characters", characters_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to "My Characters", user_path(current_user), class: "nav-link"%>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "New", new_character_path, class: "nav-link"%>
        <% end %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username.capitalize %>'s Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul>
              <li class="nonbullet"><%= link_to 'Edit profile',edit_user_registration_path, class: "nav-link"%></li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul>
              <li class="nonbullet"><%= link_to 'Log out',destroy_user_session_path, method: :delete, class: "nav-link"%></li>
            </ul>
          </div>
          <% else %>
            <ul>
              <li class="nonbullet"><%= link_to 'Log in', new_user_session_path,class: "nav-link"%></li>
            </ul>
          <% end %>
        </li>
      <ul/>
    </form>
  </div>
</nav>
